name: GitHub Actions Demo
on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'
  pull_request:
    branches:
      - main
  schedule:
    - cron: '15 6 * * 0'  # Every Sunday at 06:15 UTC
  workflow_dispatch:       # Allows manual triggering

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: List files using ls command
        run: ls -R ${{ github.workspace }}
